
  <!-- Button trigger modal -->
<div class="modal fade registermodel-lg" id="registermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" >Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #regForm='ngForm'>
            <div class="form-row">
              <div class="form-group form-group1  col-md-4">
                <!--<label for="inputEmail4">Email</label>-->
                <div class="col-sm-4 text-center">
                  <div class="kv-avatar">
                      <div class="file-loading">
                        <img [src]="url" class="profile">
                          <input name="profile" type="file" required (change)="selectFile($event)" ngModel>
                      </div>
                  </div>
                 
              </div>
              </div>
              
            <div class="col-md-8 form-group form-row">
                <div class="form-group col-md-6">
                   <input type="text" required  name="fname" class="form-control" placeholder="First Name"/>
            </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" name="lname" placeholder="Last Name" [(ngModel)]="userservice.currentUser.lname">
                </div>
                <div class="form-group col-md-12">
                  <input type="email" class="form-control" name="email" placeholder="Email"[(ngModel)]="userservice.currentUser.email">
                </div>
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" name="number" placeholder="(025)-99999" [(ngModel)]="userservice.currentUser.number">
                </div>
                <div class="col-md-12 form-group">
                  <table>
                    <tr>
                      <td style="padding-right:9px;font-size: 12px;">Age</td>
                      <td><mat-slider name="age" thumbLabel min="20" max="60" step="1" value="1" [(ngModel)]="userservice.currentUser.age"></mat-slider></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-12 form-group">
                  <select name="country"class="form-control" [(ngModel)]="userservice.currentUser.fname"
                  (change)="onChangeCountry($event.target.value)">
                    <option value="">Country</option>
                    <option *ngFor="let c of countries" >{{c.country}}</option>
                  </select>
                </div>
                <div class="col-md-12 form-group">
                  <select name="state" class="form-control" [(ngModel)]="userservice.currentUser.state">
                    <option value="">State</option>
                    <option *ngFor="let state of states">{{state.states}}</option>
                  </select>
                </div>
               <div class="col-md-12 form-group">
                  <select name="optionvalue" class="form-control" [(ngModel)]="optionvalue">
                    <option>Address</option>
                    <option value="home">Home</option>
                    <option value="office">Office</option>
                  </select>
                 </div>
               
                 <div class="col-md-12 form-group" *ngIf="optionvalue == 'home'">
                  <textarea rows="1" type="text" class="form-control" name="haddres1" placeholder="Home Address1" ngModel></textarea>
                  <br>
                  <textarea rows="1" type="text" class="form-control" name="haddres2" placeholder="Home Address2" ngModel></textarea>
                </div>
              <div class="col-md-12 form-group" *ngIf="optionvalue == 'office'">
                <textarea rows="1" type="text" class="form-control" name="caddres1" placeholder="Company Address1" ngModel></textarea>
                <br>
                <textarea rows="1" type="text" class="form-control" name="caddres2" placeholder="Company Address2" ngModel></textarea>
              
              </div>
                 
                <div class="form-group">
                  <mat-checkbox name="subscribe" class="example-margin" name="check" ngModel>Check me!</mat-checkbox>
                </div>
                <div class="col-md-12 text-right form-group">
                <button mat-button  data-dismiss="modal">Close</button>
                <a routerLink="/user-profile" mat-raised-button color="accent" type="button" data-dismiss="modal" >Submit</a>
        
               </div>
              </div>
             
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>
